<header class="site-header">

  <h1 class="site-title">
    <a href="{{ site.baseurl }}/" title="Home page">      
      <!-- <img class="site-logo" src="{{ site.baseurl }}/assets/img/cat.jpg">       -->
      <svg width="62" height="62"></svg>
    </a>
  </h1>

  <nav class="site-nav">
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
        {% assign current = 'class="current"' %}
      {% endif %}
    <a href="{{ link.url | prepend: site.baseurl }}" {{ current }} {% if link.desc %} title="{{ link.desc }}" {% endif %}>{{ link.title }}</a>
    {% endfor %}
  </nav>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>
    var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

    var color = d3.scaleOrdinal(d3.schemeCategory10);

    var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

    d3.json("{{ site.baseurl }}/assets/data/logo.json", function(error, graph) {

    graph.nodes.forEach(function(n){
    n.x = 3*width;
    n.y = 3*height;    
    });
    
    if(error){
    throw error;
    }
    console.log(graph);
    var node = svg.append("g")
    .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
    .attr("r", 5)
    .attr("fill", function(d) { return color(d.group); })
    .call(d3.drag()
    .on("start", dragstarted)
    .on("drag", dragged)
    .on("end", dragended));
    
    var link = svg.append("g")
    .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
    .attr("stroke-width", function(d) { return Math.sqrt(1); });

    node.append("title")
    .text(function(d) { return d.id; });

    simulation
    .nodes(graph.nodes)
    .on("tick", ticked);

    simulation.force("link")
    .links(graph.links);

    function ticked() {
    link
    .attr("x1", function(d) { return d.source.x; })
    .attr("y1", function(d) { return d.source.y; })
    .attr("x2", function(d) { return d.target.x; })
    .attr("y2", function(d) { return d.target.y; });

    node
    .attr("cx", function(d) { return d.x; })
    .attr("cy", function(d) { return d.y; });
    
    }
    
    });

    function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
    
    }

    function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;  
    }

    function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;  
    }
    

  </script>
</header>
<!-- site-header -->
